@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Neon&display=swap');



:root {
  --white: #cbcdd1;
  --primary: #1c1b1b;
  --accent: #3B50B2;
  --white-grey: #393838;
}



.first_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.second_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}



.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 80vh;

}

.home_title {
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  font-family: sans-serif;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  font-weight: 400;
  color: var(--white);
  font-size: 2rem;
  transition: 0.3s;
}

.home_title:hover {
  text-shadow: var(--white)0px 0 3px;
}

.home_title_one {
  padding: 1px 8px;
  border-radius: 5px;
  font-weight: 600;
  background: var(--accent);
}

.home_second_title {
  padding: 1rem;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  word-spacing: 1px;
  font-variant: normal;
  font-weight: 400;
  color: var(--white);
  transition: 0.3s;
}

.home_second_title:hover {

  text-shadow: var(--accent)0px 0 3px;
}

.home_second_title_second {
  color: #3B50B2;
  font-weight: 600;
  padding-left: 9rem;


}

.home_description {
  display: block;
  font-family: sans-serif;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 2rem;
  text-align: center;
  padding: 0rem 1rem;
}

.home_img {
  background-color: var(--white-grey);
  cursor: pointer;
  width: 400px;
  height: 380px;
  transition: .5s;
  width: 100%;
  filter: brightness(85%);
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 38px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 10px 1px var(--accent);
  object-fit:contain;
}


.home_img:hover {
  transform: scale(1.01);
}

.home_btn {
  display: block;
  width: 10rem;
  height: 1.4rem;
  padding: 0.75rem 0.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  background: var(--primary);
  font-weight: 600;
  color: var(--white);
  margin-bottom: 3rem;
  text-transform: uppercase;
  border: 2px solid var(--white);
  transition: 0.3s;
 
}

.home_btn:hover {
  color: var(--white);
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px var(--white);
}


@media only screen and (min-width: 768px) {


  .home_title {
    margin-top: 3.25rem;

  }

  .home_second_title {
    flex-direction: row;
  }

  .home_second_title_second {
    padding: 2rem 0rem;
  }

  .home_img {
    width: 400px;
    height: 380px;
  }

}



@media only screen and (min-width: 992px) {


.home_second_title_one
{
  align-self: center;
  margin-right: 0.25rem;
}
  .home {
    justify-content: space-evenly;
  }

  .home_description {
    display: inline;
    width: 40vw;
  }

  .first_part {
    margin-top: 4rem;
    align-items: center;
    gap: 3rem;
  }

  .second_part {
    padding-top: 7rem;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {


  .home_img {
    width: 420px;
    height: 400px;
  }

}