@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Neon&display=swap');



:root {
  --white: #cbcdd1;
  --primary: #1c1b1b;
  --accent: #3B50B2;
  --white-grey: #393838;
}

.home {
  display: flex;
  flex-flow: wrap column ;
  align-items: center;
  gap: 1rem;

}

.home_title {
  
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  font-family:  sans-serif;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  font-weight: 400;
  color: var(--white);
  font-size: 2rem;
  transition: 0.3s;
}

.home_title:hover {
  text-shadow: var(--white)0px 0 3px;
}

.home_title_one {
  padding: 1px 8px;
  border-radius: 5px;
  font-weight: 600;
  background: var(--accent);
}

.home_second_title {
  padding: 1rem;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  word-spacing: 1px;
  font-variant: normal;
  font-weight: 400;
  color: var(--white);
  transition: 0.3s;
}

.home_second_title:hover {

  text-shadow: var(--accent)0px 0 3px;
}

.home_second_title_second {
  color: #3B50B2;
  font-weight: 600;
  padding-left: 9rem;
}

.home_description {
  display: inline;
  font-family: sans-serif;
  text-transform: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: 0.3s;
  padding-bottom: 5rem;
  letter-spacing: 3px;
  line-height: 2rem;
  text-align: center;
  width: 80vw;


}

.home_img {
  background-color: var(--white);
  cursor: pointer;
  transition: .5s;
  width: 280px;
  height: 250px;
  filter: brightness(85%);
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 38px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 10px 1px var(--accent);
}


.home_img:hover {
  transform: scale(1.01);
}

.home_btn {
  width: 10rem;
  height: 1.4rem;
  padding: 0.75rem 0.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  background: var(--white-grey);
  cursor: pointer;
  transition: .5s;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 3rem;
  text-transform: uppercase;
  border: 2px solid var(--white);
}

.home_btn:hover {
  color: var(--write);
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 1px var(--white);
}