:root {
   --white: #F1EDFF;
   --purple: #7C2E3B;
   --blue: #464572;
   --white-effect: #aaa7b4;
}

.header {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   display: flex;
   align-items: center;
   background-color: var(--blue);
   height: 4rem;
   position: sticky;
   top: 0;
   width: 98.9vw;
   z-index: 100;
}

.header_nav {
   background-color:var(--blue);
   width: 98.9vw;  
  
}

.header_ul
{
   display: flex;
   justify-content: space-around
}

.header_li {
   text-align: center;
   
}


.header_li a {
   color: var(--white);
   text-decoration: none;
   font-weight: 400;
   font-size: 1.75rem;
  transition: all 200ms;
  font-style: italic;
}

.header_li a:hover{
   color: var(--white-effect);
   text-decoration: none;
   font-size: 1.75rem;
   ;
}

.material-symbols-outlined {
   margin-left: auto;
   margin-right: 1rem;
   background-color: #464572;
   border: none;
   color: var(--white);
   display: none;
}


@media only screen and (max-width: 960px) {

   .header_nav
   {
      position: absolute;
      left: 0;
      top: 4.1rem;
      width: 98.9vw; 
      height: 40vh;
      z-index: 7;
      transition: all 300ms ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
   }
 
 
   
   .header_ul {
      display: flex;
      flex-direction: column;
      height: 100%;
   }
  .active
   {  
       top: -100rem;}


   .material-symbols-outlined
   {
       
      display:block;
   }

   .opened
   {position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      z-index: 3;
      opacity: 0.2;
   }
   
}



