:root {
    --white: #cbcdd1;
    --primary: #1c1b1b;
    --accent: #3B50B2;
    --white-grey: #393838;
}

.slide-container {

   
    background-color: var(--primary);
    padding-top: 3rem;

}


.education_title {
  

    font-family: sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 1px;
    font-variant: normal;
    font-weight: 400;
    color: var(--white);
  text-align: center;
}
.eudcation_icon
{
    color: var(--accent);
   vertical-align:middle;
   font-size: 2.25rem;
   padding: 0rem 1rem;
   rotate: -15deg;
}

.card {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
    overflow: hidden;
}

.card:hover {
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);
}

.card_img {
    margin: 1rem;
    border: 1px solid;
    border-color: var(--accent);
    border-radius: 5px;
    width: 16rem;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.card_title {
    margin-top: 2rem;
    padding: 1 3rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    color: var(--white);
    font-size: 1.5rem;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px )
 {
    .swiper
    {
        width: 85%;
    }
    .card_img
    {
        width: 22rem;
    }
 }



