.about {
    position: relative;
    overflow: hidden;
}

.education {
    color: var(--white);

    .swiper-pagination>span {
        color: var(--pink);
        background-color: var(--pink);
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: var(--pink);
    }

    &__inner {
        margin: 4rem 0;
        text-align: center;
    }

    &__title {
        font-size: 1.125rem;
        max-width: 90%;
        text-transform: capitalize;
        text-align: center;
        margin: auto;
        margin-top: 4rem;
    }

    &__description {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        font-family: 'Mitr', sans-serif;
        font-size: .9rem;
        margin:auto;
        padding: 2rem 1rem;
        color: var(--dark-white);
        text-align: left;
        max-width: 80%;
    }

    &__title>svg {
        color: var(--pink);
        vertical-align: middle;
        font-size: 2.25rem;
        padding: 0rem 5px;
        rotate: -15deg;
    }

    .card {
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s;
        overflow: hidden;
    }

    .card:hover {
        transform: scale(1.15);
    }

    .card_img {
        margin: 1rem;
        border: 1px solid;
        border-color: var(--accent);
        border-radius: 5px;
        width: 16rem;
        transition: all 1s ease;
    }

    .card_title {
        margin-top: 2rem;
        padding: 1 3rem;
        letter-spacing: 1.2px;
        word-spacing: 1px;
        font-weight: 400;
        font-style: italic;
        color: var(--accent);
        font-size: 1rem;
    }

    @media only screen and (min-width: 968px) {

        .card_img {
            width: 22rem;
        }

        .education {
            &__description {
                width: 65%;
                margin: auto;
                font-size: 1.25rem;
            }

            &__title {
                max-width: 50%;
                font-size: 1.4rem;
            }
        }
    }
}

//Skills

.skills {
    position: relative;
    background: rgb(247, 232, 232);
    background: linear-gradient(180deg, rgba(247, 232, 232, 1) 2%, rgba(228, 98, 139, 1) 100%);

    &__container {
        padding-left: 240vw;
        overflow: hidden;
    }

    &__title {
        padding: 2rem;
        text-align: center;
        font-size: 1.125rem;
        text-transform: capitalize;
        letter-spacing: 3px;
        font-weight: 400;
        color: var(--pink);
    }

    &__title h3 {
        margin-top: 0.25rem;
        font-style: italic;
        font-weight: 500;
        font-size: 1rem;
        color: var(--dark-purple);
    }

    &__container ul {
        display: flex;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0.3rem;
    margin: 2rem 2rem;
}

.skill:hover {
    scale: 1.02;
    transition: 200ms
}

.skill-img {
    width: 3.75rem;
    border-radius: 10px;
}

.skill-title {
    font-family: sans-serif;
    color: var(--white);
    font-size: .75rem;
    padding: 0.3rem;
    letter-spacing: 1px;
    text-align: center;
    font-style: oblique;

}

@media only screen and (min-width: 492px) {
    .skills {
        &__container {
            padding-left: 150vw;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 892px) {
    .skills {
        &__container {
            padding-left: 60vw;
            overflow: hidden;
        }

        &__container>ul {
            padding-left: 8rem;
            padding-right: 8rem;
            gap: 1rem;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__title h3 {
            font-size: 1.25rem;
        }
    }

    .skill-img {
        width: 5.5rem;
    }
}

@media only screen and (min-width: 1200px) {

    .skill-img {
        width: 7.25rem;
    }

    .skills__container>ul {
        gap: 2rem;
    }
}