.passwords {
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
      flex-direction: column;
      gap: 2rem;
}


.passwords h2 {
    font-size: 1.5rem;
;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}