
.skills_section {
    background-color: var(--primary);
    padding: 3rem 1rem;
    overflow: hidden;
}

.skills_container {
    padding-left: 230vw;
    overflow: hidden;
}

.skills_title {
    padding: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    color: var(--white);
}

.skills {
    display: flex;
}

.skill {
    text-align: center;
    background-color: var(--white-grey);
    border-radius: 10px;
    padding: 0.3rem;
    margin: 2rem 2rem;
}

.skill:hover {
    scale: 1.02;
    transition: 200ms
}

.skill_img {
    width: 5rem;
    border-radius: 10px;
}

.skill_title {
    font-family: sans-serif;
    color: var(--white);
    font-size: 1.25rem;
    padding: 0.3rem;
    letter-spacing: 1px;
    text-align: center;
    font-style: oblique;

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 492px) {
    .skills_container {
        padding-left: 130vw;
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 892px) {
    .skills_container {
        padding-left: 70vw;
        overflow: hidden;
    }

    .skills {
        padding-left: 8rem;
        padding-right: 8rem;
        gap: 1rem;
    }

    .skill_img {
        width: 7rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .skill_img {
        width: 9rem;
    }

    .skills {
        gap: 2rem;
    }
}