:root {
    --white: #cbcdd1;
    --primary: #1c1b1b;
    --accent: rgb(59, 80, 178);
    --white-grey: #393838;
}



.project_selection {
    background-color: var(--primary);
    border-radius: 10px;
}


.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    background-color: var(--white-grey);
    width: 350px;
    height: 300px;
    margin: 2rem;
    border-radius: 10px;
}



.title {
    padding: 1rem;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    color: var(--white);
    font-size: 2rem;
    transition: 0.3s;
}

.second_title {
    padding-left: 1rem;
    font-family: sans-serif;
    color: var(--accent);
    font-size: 1rem;
    transition: 0.3s;
}

.project_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;


}

.project_img {
    position: absolute;
    width: 350px;
    height: 300px;

}



.project:hover {
    scale: 1.01;
    transition: 300ms ease-in-out;
}


.project_title {
    margin-top: 2rem;
    text-align: center;
    align-self: center;
    width: 100%;
    color: var(--white);
    font-size: 2rem;
    font-family: sans-serif;
    z-index: 6;
    font-weight: 600;
}

.btn {
    border: 0.4px solid var(--white);
    padding: 8px 0px;
    width: 5rem;
    background-color: var(--primary);
    color: var(--white);
    letter-spacing: 3px;
    z-index: 10;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--white);
    border: 2px solid var(--accent);
    border-radius: 5px;
}

.btn_container {
    z-index: 7;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
    .project {
        width: 480px;
    }

    .btn {
        margin: 0px 3rem;
    }

    .pseudo {
        width: 480px;
    }

    .project_img {
        width: 480px;
    }

}